{% load static %}
<link rel="shortcut icon"
	href="{% static 'images/chenyingjun.ico' %}"
	type="image/png">
<link
	href="{% static 'css/style.default.css' %}"
	rel="stylesheet">
<link
	href="{% static 'css/jquery.datatables.css' %}"
	rel="stylesheet">
<link
	href="{% static 'css/jquery.gritter.css' %}"
	rel="stylesheet">
<link
	href="{% static 'plugins/ztree/css/zTreeStyle.css' %}"
	rel="stylesheet">
<style>
.mg-bm10{margin-bottom: 10px;}
.logo_img{width: 100%;}
</style>
<script type="text/javascript"
	src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript"
	src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
<script type="text/javascript"
	src="{% static 'js/jquery-ui-1.10.3.min.js' %}"></script>
<script type="text/javascript"
	src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript"
	src="{% static 'js/bootstrap-wizard.min.js' %}"></script>
<script type="text/javascript"
	src="{% static 'js/modernizr.min.js' %}"></script>
<script type="text/javascript"
	src="{% static 'js/jquery.sparkline.min.js' %}"></script>
<script type="text/javascript"
	src="{% static 'js/toggles.min.js' %}"></script>
<script type="text/javascript"
	src="{% static 'js/retina.min.js' %}"></script>
<script type="text/javascript"
	src="{% static 'js/jquery.cookies.js' %}"></script>
<script type="text/javascript"
	src="{% static 'js/jquery.mousewheel.js' %}"></script>
<script type="text/javascript"
	src="{% static 'js/select2.min.js' %}"></script>
<script type="text/javascript"
	src="{% static 'js/dropzone.min.js' %}"></script>
<script type="text/javascript"
	src="{% static 'js/jquery.gritter.min.js' %}"></script>
<script type="text/javascript"
	src="{% static 'js/colorpicker.js' %}"></script>
<script type="text/javascript"
	src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
<script type="text/javascript"
	src="{% static 'js/jquery.tagsinput.min.js' %}"></script>
<script type="text/javascript"
	src="{% static 'js/jquery.validate.min.js' %}"></script>
<script type="text/javascript"
	src="{% static 'js/jquery-validate-messages-cn.js' %}"></script>
<script type="text/javascript"
	src="{% static 'plugins/my97DatePicker/wdatePicker.js' %}"></script>
<script type="text/javascript"
	src="{% static 'js/upload.file.js' %}"></script>
<script type="text/javascript"
		src="{% static 'plugins/kindeditor/kindeditor.js' %}"></script>
	<script type="text/javascript"
		src="{% static 'plugins/kindeditor/lang/zh_CN.js' %}"></script>
	<script type="text/javascript"
		src="{% static 'plugins/kindeditor/plugins/code/prettify.js' %}"></script>
<script type="text/javascript"
	src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/city.js' %}"
	type="text/javascript"></script>
<script type="text/javascript"
	src="{% static 'plugins/ztree/js/jquery.ztree.all.min.js' %}"></script>
<script type="text/javascript"
	src="{% static 'js/table.js' %}"></script>
<script type="text/javascript"
	src="{% static 'js/iframe-ajax.js' %}"></script>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="{% static 'js/html5shiv.js' %}"></script>
  <script src="{% static 'js/respond.min.js' %}"></script>
  <script src="{% static 'js/wysihtml5-0.3.0.min.js' %}"></script>
  <![endif]-->
<script type="text/javascript">
	var path = "${request.contextPath}";
</script>